.grid{
    position: absolute;
    left: 20%;
    top:8% ;
    height: 84vh;
    width: 130vh;
    display: flex;
    flex-wrap: wrap;
    border: double 1vh darkblue;
}

.grid div{
   
    height: 40vh;
    width: 30vh;
    border: solid 5px red;
    background: url("cover.jpg") no-repeat ; 
    background-size: 100%;
    margin: auto;
}